{% extends 'base.html' %}
{% block title %}Foxstraat - Link submission{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <h1 class="text-3xl text-center mt-16 mb-0 font-bold">Submit Link</h1>
    <div class="flex justify-center mb-10">

        <form action="{% url 'posts:create-post' %}" class="mt-7" method="post">
            {% include 'components/messages.html' %}

            {% csrf_token %}
            <label for="{{field.auto_id}}" class="text-black font-bold capitalize">Page URL</label>

            <p>
                <input type="url" required placeholder="Required" autocapitalize="off" autocomplete="off" autofocus
                    name="page_link" class="w-full text-black px-3 py-2 mb-3 border-2 border-gray-300 rounded bg-white">
            </p>
            <div class="flex flex-row">
                <button class="bg-black text-white text-normal rounded font-extrabold px-5 py-2 mr-1"
                    type="submit">Submit</button>
                <a href="#" class="text-black text-normal px-2 py-2 mr-1">make sure
                    you've read our Rules before submitting</a>
            </div>
            {% include 'components/footer.html' %}
        </form>

    </div>
</div>
{% endblock %}