{% extends 'base.html' %}

{% block title %}Foxstraat - Top Music Charts{% endblock %}

{% block styles %}
<style>
    .cover-art {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }

    .music-container {
        margin-top: 2rem;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .song-title {
        font-size: 1.6em;
        color: #212121;
    }

    .song-artists {
        font-size: 0.9em;
        color: #585858;
    }

    .song-genre {
        font-size: 1em;
        color: #212121;
    }
    .links {
        margin-top: 1rem;
    }
    .topic-pill {
        font-size: 1em;
        color: #212121;
        background-color: rgb(250, 250, 250) !important;
        border: 2px solid #3d3d3d;
        border-radius: 4px;
        margin: 0 .8rem .6rem 0;
        padding: 2px 5px;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<h3 class="center page-heading">{{heading}}</h3>

<div class="topic-scroll center">
    <a href="{% url 'music:explore-music' %}?ref=top_musc_pill" class="topic-pill">Ten for today</a>
    <a href="{% url 'music:new-music' %}?ref=new_musc_pill" class="topic-pill">New</a>
    <a href="{% url 'music:hot-music' %}?ref=hot_musc_pill" class="topic-pill">Hot</a>
    <a href="{% url 'music:all-time-music' %}?ref=all_musc_pill" class="topic-pill">All time</a>
</div>
<div class="music-container container">
    {% for song in songs %}
    {% include 'components/music/song_preview.html' %}
    {% endfor %}
</div>
{% endblock %}