{% extends 'base.html' %}

{% block title %}Foxstraat - {{ genre }}{% endblock %}

{% block styles %}
<style>
    .cover-art {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .music-container {
        margin-top: 2rem;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .song-title{
        font-size: 1.6em;
        color: #212121;
    }
    .song-artists{
        font-size: 0.9em;
        color: #585858;
    }
    .heading {
        font-size: 4em;
        margin-top: 2rem !important;
        margin-bottom: 1rem !important;
    }
    .song-genre{
        font-size: 1em;
        color: #212121;
    }
    .links{
        margin-top: 1rem;
    }
    .page-heading{
        text-transform: capitalize;
    }
</style>
<style>
    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }
    .section-heading {
        text-transform: uppercase;
    }
    .about {
        border-top: 2px solid #212121;
        height: 46vh;
        padding-top: 2rem;
    }
    .footer-link {
        color: #000000;
        text-decoration: underline;
    }
    .text {
        font-size: 1.2em;
        color: #000000;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<h3 class="center page-heading">{{genre}}</h3>
<div class="music-container container">
    {% if page_obj %}
        {% for song in page_obj %}
        {% include 'components/music/song_preview.html' %}
        {% endfor %}
    {% else %}
    <span class="heading">No songs were posted today</span>
    {% endif %}
</div>
<div class="container">
    {% include 'components/infinite_scroll_fetch.html' %}
</div>
{% include 'components/footer.html' %}
{% endblock %}