{% extends 'base.html' %}

{% block title %}Foxstraat - {{ genre }}{% endblock %}

{% block styles %}
<style>
    .cover-art {
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
    .music-container {
        margin-top: 2rem;
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .song-title{
        font-size: 1.6em;
        color: #212121;
    }
    .song-artists{
        font-size: 0.9em;
        color: #585858;
    }
    .song-genre{
        font-size: 1em;
        color: #212121;
    }
    .links{
        margin-top: 1rem;
    }
    .page-heading{
        text-transform: capitalize;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<h3 class="center page-heading">{{genre}}</h3>
<div class="music-container container">
    {% for song in songs %}
    {% include 'components/music/song_preview.html' %}
    {% endfor %}
</div>
{% endblock %}