{% extends 'base.html' %}

{% block title %}Foxstraat - Edit profile{% endblock %}

{% block styles %}
<style>
    textarea {
        max-width: 70% !important;
        max-height: 60% !important;
        width: 1000px !important;
        height: 300px !important;
    }

    .btn {
        margin: 2rem !important;
        width: 65vw;
    }

    .view-changes {
        text-decoration: underline;
    }
    .small {
        margin: 0 50%;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<div class="container">
    <h1 class="center">Edit profile</h1>
    <form action="{% url 'accounts:edit-user-profile' %}" enctype="multipart/form-data" method="post">
        {% if messages %}
        <div class="container center">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="red white-text">{{ message }}</div>
            {% elif message.tags == 'success' %}
            <div class="green white-text">
                {{ message }}.
                <a class="view-changes white-text" href="{% url 'get-user-profile' username=request.user.username %}">
                    View changes
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <br>
        {% endif %}


        {% csrf_token %}
        <!-- About me -->
        <div class="center">
            <h5 class="black-text">Upload new profile picture</h5>
            <br>

            <input type="file" placeholder="Upload new profile pic" name="profile_pic" id="profile_pic">
            <br><br>
            <h5 class="black-text">Edit bio</h5>
            <textarea autofocus maxlength="2000" name="about_me"
                id="about_me">{% if user.bio %}{{user.bio}}{% endif %}</textarea><br>
            <label for="about_me">2000 character limit</label>
        </div>
        <!-- about me ends -->
        <br>
        <!-- custom css starts -->
        <h5 class="black-text center">Customise profile</h5>
        {% include 'components/accounts/css_editor.html' %}
        <label class="grey-text" for="custom_styles">
            JavaScript is not allowed.
            Do not use HTML/CSS to cover important parts of Foxstraat incl. logo, navigation links.
        </label>
        <!-- custom css ends -->
        <br>
        <button class="btn btn-large black" type="submit">Save changes</button>
    </form>
</div>
{% endblock %}