{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Prepare to be assimilated{% endblock %}

{% block styles %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

    .n-logo {
        font-size: 2em !important;
        font-family: "Lobster", cursive;
        color: rgb(24, 24, 24) !important;
    }
</style>
{% endblock %}

{% block body %}
<!-- Navbar starts -->
{% include 'components/navbar.html' %}
<!-- Navbar ends -->

{% if messages %}
<div class="container center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}

<!-- banner begins -->

<div class="container">
    <div class="center">

        <h1>About Us</h1>
    </div>
</div>
{% endblock %}