{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Prepare to be assimilated{% endblock %}

{% block styles %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

    .n-logo {
        font-size: 2em !important;
        font-family: "Lobster", cursive;
        color: rgb(24, 24, 24) !important;
    }

    nav {
        border-bottom: 2px solid #212121;
    }

    .banner {
        height: 60vh;
    }

    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }

    .about {
        border-top: 2px solid #212121;
        padding-top: 2rem;
        height: 15vh !important;
    }

    .join {
        font-weight: 700 !important;
        width: 20rem;
    }
</style>
{% endblock %}

{% block body %}
<!-- Navbar starts -->
{% include 'components/navbar.html' %}
<!-- Navbar ends -->

<!-- banner begins -->
<section class="container center banner">
    <h1 class="logo black-text heading">Page under construction</h1>
    <p class="subheading black-text">After tonnes of user-provided suggestions, we have started building forum
        infrastructure for
        Foxstraat. This feature is almost done and will launch soon. In the meantime, please consider supporting the
        site's development</p>

    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>kofiwidget2.init('Support Me', '#000000', 'Y8Y31URML'); kofiwidget2.draw();</script>

</section>
<!-- banner ends -->

<section class="blue about">
</section>
{% endblock %}