{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Registration{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s6 register-form">
        <div class="container ">

            <h3 class="center black-text">Create Account</h3>

            {% if messages %}
            <div class="container center">
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="red white-text">{{ message }}</div>
                {% elif message.tags == 'success' %}
                <div class="green white-text">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            {% endif %}

            <div class="center">
                <form method="post" action="{% url 'accounts:user-register' %}">
                    {% csrf_token %}
                    {{registration_form.as_p}}
                    <div class="center">{{ captcha.as_p }}</div>
                    <button class="btn btn-large waves-effect waves-light black white-text submit-btn"
                        type="submit">Join Foxstraat</button>
                </form>
                <a href="{% url 'accounts:user-login' %}" class="black-text">Sign in instead</a>
            </div>

        </div>
    </div>
    <div class="col s6 purple accent-4 form-side">
        <div class="center branding">
            <h3 title="Foxstraat" class="logo">
                <a class="black-text" href="/">Foxstraat.</a>
            </h3>
            <p class="black-text slogan">Prepare to be assimilated</p>
        </div>
    </div>
</div>
{% endblock %}