<style>
    .image_placeholder{
        height: 200px;
        width: 200px;
        background-color: rgb(212, 212, 212);
    }
</style>

<div class="col-12 user-details-basic-container">
    <div class="profile-image-container">
        {% if user.profile_pic %}
        <img class="profile-picture" src="{{ user.profile_pic.url }}" />
        {% else %}
        <div class="image_placeholder">No profile picture</div>
        {% endif %}
        <div class="username-container">
            <p class="username">{{ user.display_name }}</p>
        </div>
    </div>

    <div class="user-stat-container">
        <p class="stat">20 posts</p>
        <p class="stat">200M followers</p>
    </div>
</div>