<div class="user-details-basic-container">
    <div class="profile-image-container">
        <img class="profile-picture" src="https://picsum.photos/100/100" />
    </div>
    <div class="username-container">
        <p class="username">test2</p>
    </div>
    <div class="social-links-container">
        <a class="instagram" href="#">IG</a>
        <a class="facebook" href="#">FB</a>
        <a class="twitter" href="#">TWTTR</a>
        <a class="youtube" href="#">YT</a>
        <a class="twitch" href="#">TWCH</a>
    </div>
</div>