{% load url_target_blank %}

<style>
    .image_placeholder {
        height: 200px;
        width: 200px;
        background-color: rgb(212, 212, 212);
    }
</style>

<div class="col-6 user-details-basic-container">
    <div class="profile-image-container">
        {% if user.profile_pic %}
        <img class="profile-picture" src="{{ user.profile_pic.url }}" />
        {% else %}
        <div class="image_placeholder">No profile picture</div>
        {% endif %}
        <div class="username-container">
            <p class="username">{{ user.display_name }}</p>
        </div>
    </div>

    <div class="user-stat-container">
        <p class="stat">{{user.upvotes|shrink_num}} upvote{{user.upvotes|pluralize}}</p>
        <p class="stat">{{user.subscribers|shrink_num}} subscriber{{user.subscribers|pluralize}}</p>
    </div>

    {% if user.has_server %}
    <div class="join-btn-container">
        <button id="join-server-btn" data-server-id="{{ user.object_id }}" onclick="joinServer()" class="join-btn">Join server</button>
    </div>
    {% endif %}
</div>
<script>
    function joinServer(){
        const joinBtn = document.getElementById('join-server-btn');
        const serverID = joinBtn.dataset.serverId
        window.location.href = `/s/${serverID}`
    }
</script>