{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Cool new people{% endblock %}

{% block styles %}
<style>
    .account-image {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 1em;
    }

    .grid {
        display: flex;
    }

    .grid-item:hover>.content {
        visibility: visible;
        opacity: 1;
    }

    .grid-col {
        flex: 1;
        padding: 0 0.5em;
    }

    .topic-scroll {
        margin: 4px 4px;
        margin-bottom: 2rem;
        padding: 4px;
        width: 100%;
        border-radius: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        cursor: pointer;
    }

    .topic-pill {
        font-size: 1em;
        color: #212121;
        background-color: rgb(250, 250, 250) !important;
        border: 2px solid #3d3d3d;
        border-radius: 4px;
        margin: 0 .8rem .6rem 0;
        padding: 2px 5px;
    }

    .explore {
        margin-top: 2rem;
    }
</style>
<style>
    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }

    .section-heading {
        text-transform: uppercase;
    }

    .footer {
        background-color: #e4e4e4;
        border-top: 2px solid #999999;
        height: 40vh;
        padding-top: 2rem;
    }

    .footer-link {
        color: #000000;
        text-decoration: underline;
    }

    .text {
        font-size: 1.2em;
        color: #000000;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}

<div class="container explore">
    <h3 class="center page-heading">{{heading}}</h3>

    {% include 'components/shared/nav-pills.html' %}

    <div class="grid">
        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        <div class="grid-col grid-col--4"></div>
        <!-- items -->
        <div class="infinite-container">
            {% for account in page_obj %}
            <div class="grid-item infinite-item">
                <a class="white-text" title="{{ account.bio }}"
                    href="{% url 'get-user-profile' username=account.username %}">
                    {% if account.profile_pic %}
                    <img class="account-image" src="{{ account.profile_pic.url }}" alt="account cover image" />
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/infinite_scroll_fetch.html' %}


</div>
{% include 'components/footer.html' %}

{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'js/colcade.js' %}"></script> -->
<script src="https://unpkg.com/colcade@0/colcade.js"></script>
<script>
    var colc = new Colcade('.grid', {
        columns: '.grid-col',
        items: '.grid-item'
    });
</script>
{% endblock %}