<div class="flex justify-center mt-36 mb-10">
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://instagram.com/kelodraken">
        Instagram
    </a>
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton">
        Twitter
    </a>
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://github.com/KeloDraken/foxstraat">
        GitHub
    </a>
</div>
{% if request.user.is_authenticated %}
<div class="flex justify-center my-16">
    <a title="Sign out" class="mx-3 underline text-gray-500" href="{% url 'accounts:user-logout' %}">
        Sign out <span class="text-xs text-black">({{request.user.email}})</span>
    </a>
</div>
{% endif %}