<div class="flex justify-center mt-36 mb-10">
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://instagram.com/kelodraken">
        Instagram
    </a>
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton">
        Twitter
    </a>
    <a title="Send feedback" rel="noopener noreferrer" target="_blank" class="mx-3"
        href="https://github.com/KeloDraken/foxstraat">
        GitHub
    </a>
</div>