{% load static %}
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
<style>
    @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

    .n-logo {
        font-size: 2.3em !important;
        font-family: "Lobster", cursive;
        font-weight: 500 !important;
        color: rgb(24, 24, 24) !important;
    }

    .right li a {
        font-size: 2em;
        text-transform: uppercase;
    }

    .black-text:hover {
        background-color: transparent;
    }

    .navbar-m {
        margin-bottom: 5rem;
    }
</style>


<div class="navbar-m">
    <nav class="white z-depth-0">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo n-logo">Foxstraat.</a>
                <ul class="right">
                    <li title="Browse">
                        <a href="{% url 'bulletin:frontpage' %}">
                            Frontpage
                        </a>
                    </li>
                    <li title="{{ user.username }}">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'get-user-profile' username=user.username %}">
                            Account
                        </a>
                        {% else %}
                        <a href="{% url 'accounts:user-register' %}">
                            Account
                        </a>
                        {% endif %}
                    </li>
                    <li title="About Foxstraat">
                        <a href="{% url 'about' %}">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>