<div class="sticky  top-0 z-50">
    <div class="flex flex-row justify-between py-4 px-4 w-full bg-white">
        <a href="/" native title="Ett projekt av Samkelo Drakensberg" class="text-3xl logo">
            Foxstraat.
        </a>
        <div class="flex flex-row">
            <a title="Create a Matstad account" href="#"
                class="bg-black text-white text-sm rounded font-bold px-4 py-2 mr-1">
                Leave your feedback
            </a>
        </div>
    </div>
</div>