<div class="row">
    <div class="col s3">
        <img class="cover-art" src="{{ song.cover_art.url }}" alt="song cover art">
    </div>
    <div class="col s9">
        {{forloop.counter}} <a href="{% url 'music:get-song' song_id=song.object_id %}" class="song-title">
            {{ song.title }}</a> <br>
        <a href="{% url 'get-user-songs' username=song.user.username %}" class="song-artists">{{ song.artists }}</a>
        <br>
        <a href="{% url 'music:get-genre' genre=song.genre %}" class="song-genre">{{ song.genre }}</a> <br>

        <div class="links">
            {% if song.spotify %}
            <a href="#" class="btn btn-medium black green-text">Spotify</a>
            {% endif %}
            {% if song.soundcloud %}
            <a href="#" class="btn btn-medium black orange-text">Soundcloud</a>
            {% endif %}
            {% if song.youtube %}
            <a href="#" class="btn btn-medium black red-text">YouTube</a>
            {% endif %}
        </div>
    </div>
</div>