{% extends 'mobile/base.html' %}
{% load static %}

{% block title %}Foxstraat - Prepare to be assimilated{% endblock %}

{% block styles %}
<style>
    body {
        background-image: linear-gradient(to bottom, rgb(30, 255, 0), #2296F3, #2296F3, #2296F3, #2296F3);
    }

    .section {
        height: 60vh;
    }

    .about {
        background-image: linear-gradient(to bottom, #2296F3, #2296F3, #2296F3, #6D429A);
    }

    .instructions {
        background-image: linear-gradient(to bottom, #6D429A, #6D429A, #6D429A, #FFEB3B);
    }

    .footer {
        background-image: linear-gradient(to bottom, #FFEB3B, #FFEB3B, #FFEB3B);
    }

    .footer a {
        font-size: 1.5em;
        margin-right: 1.5rem;
        margin-left: 1rem;
    }

    .heading {
        margin-top: 10rem;
        margin-bottom: 0;
        font-size: 2em;
        font-weight: 600;
        line-height: normal;
    }

    .section-title {
        margin-top: 0;
        font-size: 2em;
        font-weight: 600;
        line-height: normal;
    }

    .gree-text {
        color: #0e5f0e;
    }
</style>
{% endblock %}

{% block body %}
<!-- Navbar starts -->
{% include 'mobile/components/navbar.html' %}
<!-- Navbar ends -->

<!-- banner begins -->
<section class="section container center">
    <h1 class="heading black-text">Build a custom profile and share your art</h1>
    <p class="black-text">A platform for small bands and artists to find a new audience</p>
</section>
<!-- banner ends -->

<section class="section blue about">
    <div class="container">
        <p class="section-title center black-text">
            Prepare to be assimilated
        </p>
        <p class=" black-text">
            Foxstraat is a friendly online community for small artists
            and bands to build an audience. It lets you customise your
            profile's css to whatever you want. Make it match your brand
            and aesthetic or go to town with crazy designs.
            Share your favourite images and music, and discover new artists
            and cool people.
        </p>
    </div>
</section>

<section class="section purple instructions">
    <div class="container">
        <p class="section-title center yellow-text">
            How does it work?
        </p>
        <p class="yellow-text">
            Foxstraat is a friendly online community for small artists
            and bands to build an audience. It lets you customise your
            profile's css to whatever you want. Make it match your brand
            and aesthetic or go to town with crazy designs.
            Share your favourite images and music, and discover new artists
            and cool people.
        </p>
    </div>
</section>

<section class="section yellow footer">
    <div class="container">
        <p class="section-title center gree-text">
            Legal
        </p>
        <p class="gree-text">
            Foxstraat is a friendly online community for small artists
            and bands to build an audience.
        </p>
        <div class="center">
            <a class="gree-text" href="{% url 'rules' %}">Rules</a>
            <a class="gree-text" href="{% url 'terms' %}">Terms</a>
            <a class="gree-text" href="{% url 'privacy' %}">Privacy</a>
        </div>
        <!-- <span class="yellow copy black-text">&copy; 2021 Samkelo Rocks (Pty) Ltd. All rights reserved.</span> -->
    </div>
</section>
{% endblock %}