{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Registration{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s6 register-form">
        <div class="container ">

            <h3 class="center black-text">Create Account</h3>
            <div class="center row">
                <form method="post" action="{% url 'accounts:user-register' %}" class="col s12">
                    {% csrf_token %}
                    {{registration_form.as_p}}
                    <button class="btn btn-large black white-text submit-btn" type="submit">Join Foxstraat</button>
                </form>
                <a href="{% url 'accounts:user-login' %}" class="black-text">Sign in instead</a>
            </div>

        </div>
    </div>
    <div class="col s6 form-side">
        <div class="center branding">
            <h3 title="Foxstraat" class="logo">
                <a class="white-text" href="/">Foxstraat.</a>
            </h3>
            <p class="white-text slogan">Prepare to be assimilated</p>
        </div>
    </div>
</div>
{% endblock %}