{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Create post{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css-editor/monokai.css' %}">
<link rel="stylesheet" href="{% static 'css-editor/codemirror.css' %}">
<style>
    .form-input {
        color: #000 !important;
        width: 83% !important;
        padding: 3px !important;
        border: 1px solid #797979 !important;
    }
    form{
        margin-left: 10vw;
    }
    .form-input::placeholder {
        color: rgb(112, 112, 112) !important;
        opacity: 1 !important;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}

<div class="container">
    <h3 class="center">Add new listing</h3>
    <p class="center">
        Download the user profile html/css to begin editing the template
        <a class="blue-text" href="{% static 'downloads/Foxstraat.zip' %}">here</a>
    </p>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="red white-text">{{ message }}</div>
        {% elif message.tags == 'success' %}
        <div class="green white-text">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <form id="post_form" method="post" action="{% url 'marketplace:add-listing' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        {{ field }}
        {% endfor %}

        <br>
        <br>
        <br>
        <br>
        <input type="submit" class="center" name="submit" value="Submit" />
        <br>
        <br>
        <small class=" grey-text">
            Before you submit your listing you need to make sure that you've
            read and understood the Rules. Failure to comply will result
            in permanent banishment from Foxstraat.
        </small>
    </form>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'css-editor/codemirror.js' %}"></script>
<script src="{% static 'css-editor/css.js' %}"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("custom_styles"), {
        lineNumbers: true,
        mode: 'css',
        theme: 'monokai',
        smartIndent: true
    });
</script>
{% endblock %}