{% extends 'base.html' %}
{% load static %}
{% block title %}Foxstraat - Add listing{% endblock %}

{% block styles %}
<style>
    .form-input {
        color: #000 !important;
        width: 83% !important;
        padding: 3px !important;
        border: 1px solid #797979 !important;
    }

    form {
        margin-left: 10vw;
    }

    .form-input::placeholder {
        color: rgb(112, 112, 112) !important;
        opacity: 1 !important;
    }

    .custom_styles {
        width: 84% !important;
        height: 20vh !important;
        padding: 3px !important;
        border: 1px solid #797979 !important;
    }

    .custom_styles::placeholder {
        color: rgb(112, 112, 112) !important;
        opacity: 1 !important;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}

<div class="container">
    <h3 class="center">List a custom css template</h3>
    <p class="center">
        Download the user profile html/css to begin editing the template
        <a class="blue-text" href="{% static 'downloads/Foxstraat.zip' %}">here</a>
    </p>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="red white-text">
            {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="green white-text">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <form id="post_form" method="post" action="{% url 'marketplace:add-listing' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input required type="text" class="form-input" placeholder="Give your template a name" autocomplete="off"
            name='name' id="name" />
        <input required type="text" class="form-input" placeholder="Write a short description of the template"
            autocomplete="off" name='description' id="description" />
        <input required type="number" class="form-input price" placeholder="How much gelt do you want for it?"
            autocomplete="off" name='price' id="price" />
        <textarea cols="100" rows="100" placeholder="Paste your custom css here" required name="template"
            class="custom_styles"></textarea>
        <br>
        <input required type="file" name="screenshot" id="screenshot" accept="image/jpeg, image/png" />
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}