{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat Winkel - Manage listings{% endblock %}

{% block styles %}
<style>
    .post-image {
        width: 300px;
        border-radius: 2px;
        margin-bottom: 1em;
    }

    .content {
        width: fit-content;
        position: absolute;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 1em;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .post-author {
        margin: 0.2em 0.5em;
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
        font-size: 1em;
        font-weight: 600;
    }

    .post-author:hover {
        text-decoration: underline;
    }

    .grid {
        display: flex;
    }

    .grid-item:hover>.content {
        visibility: visible;
        opacity: 1;
    }

    .grid-col {
        flex: 1;
        padding: 0 0.5em;
    }

    .explore {
        margin-top: 2rem;
    }
</style>
<style>
    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }
    .section-heading {
        text-transform: uppercase;
    }
    .about {
        border-top: 2px solid #212121;
        height: 40vh;
        padding-top: 2rem;
    }
    .footer-link {
        color: #000000;
        text-decoration: underline;
    }
    .text {
        font-size: 1.2em;
        color: #000000;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
{% if messages %}
<div class="container center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
<div class="container explore">
    <h3 class="center">Manage store listings</h3>
    <div class="grid">
        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        <!-- items -->
        {% for post in posts %}
        <div class="grid-item">
            <div class="content">
                <a class="white-text" title="{{ post.name }}"
                    href="{% url 'marketplace:view-listing' listing_id=post.object_id %}">
                    <h4 class="post-author">view listing</h4>
                </a>
                <a class="white-text" title="The listing will be permanently removed from Foxstraat Winkel"
                    href="{% url 'marketplace:delete-listing' listing_id=post.object_id %}">
                    <h4 class="post-author">delete listing</h4>
                </a>
            </div>
            <img class="post-image" src="{{ post.screenshot_1.url }}" alt="Listing screenshot" />
        </div>
        {% endfor %}
    </div>

</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/colcade.js' %}"></script>
<!-- <script src="https://unpkg.com/colcade@0/colcade.js"></script> -->
<script>
    // selector string as first argument
    var colc = new Colcade('.grid', {
        columns: '.grid-col',
        items: '.grid-item'
    });
</script>
{% endblock %}