{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Selekt{% endblock %}

{% block styles %}
<style>
    .post-image {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 1em;
    }

    .content {
        width: fit-content;
        position: absolute;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 1em;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .post-author {
        margin: 0.2em 0.5em;
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
        font-size: 1em;
        font-weight: 600;
    }

    .post-author:hover {
        text-decoration: underline;
    }

    .grid {
        display: flex;
    }

    .grid-item:hover>.content {
        visibility: visible;
        opacity: 1;
    }

    .grid-col {
        flex: 1;
        padding: 0 0.5em;
    }
    .listing-name{
        margin-top: -1rem;
        font-size: 1.3em !important;
    }
    .topic-pill {
        font-size: 1em;
        color: #212121;
        background-color: rgb(250, 250, 250) !important;
        border: 2px solid #3d3d3d;
        border-radius: 4px;
        margin: 0 .8rem .6rem 0;
        padding: 2px 5px;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<div class="container">
    <h3 class="center page-heading">Foxstraat Selekt</h3>
    <div class="topic-scroll center">
        <a href="{% url 'bulletin:explore-bulletins' %}" class="topic-pill">Templates</a>
        <a href="{% url 'bulletin:explore-photos' %}" class="topic-pill">Foxstraat Merch</a>
    </div>
    
    <div class="grid">
        <!-- columns -->
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        <div class="grid-col grid-col--3"></div>
        <!-- items -->
        {% for listing in listings %}
        <div class="grid-item" title="{{ listing.description }}">
            <div class="content">
                <a class="white-text" title="{{ listing.name }}" href="{% url 'marketplace:view-listing' listing_id=listing.object_id %}">
                    <h4 class="post-author">view listing</h4>
                </a>

                <a class="white-text" title="{{listing.user.display_name }}"
                    href="{% url 'get-user-profile' username=listing.user.username %}">
                    <h4 class="post-author">go to creator's page</h4>
                </a>
            </div>
            <img class="post-image" src="{{ listing.screenshot_1.url }}" />
            <p  class="listing-name">{{listing.name}}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/colcade.js' %}"></script>
<!-- <script src="https://unpkg.com/colcade@0/colcade.js"></script> -->
<script>
    // selector string as first argument
    var colc = new Colcade('.grid', {
        columns: '.grid-col',
        items: '.grid-item'
    });
</script>
{% endblock %}