{% extends 'base.html' %}
{% load url_target_blank %}

{% block title %}Foxstraat Selekt - {{ post.name }}{% endblock %}

{% block styles %}
<style>
    .content {
        margin-top: 2rem;
    }

    .post-caption {
        font-family: Arial, Helvetica, sans-serif;
        color: #333333;
        font-weight: 600;
        white-space: pre-wrap;
    }

    .caption-url {
        color: #333333;
        text-decoration: underline;
    }

    .post-image {
        width: 100%;
    }

    .post-author {
        font-size: 1.3em;
        color: #585858;
    }

    .section-images {
        /* width: 100%; */
        object-fit: cover;
        width: 250px;
        height: 140px;
    }

    .post-title {
        font-weight: 600 !important;
        margin-bottom: 0;
    }

    .price {
        margin-bottom: -1rem;
        margin-top: 0.5rem;
    }

    .section-heading {
        color: #3f3f3f;
        font-weight: 600;
        font-size: 1.5em;
    }
</style>
{% endblock %}
{% block body %}
{% include 'components/navbar.html' %}

{% if messages %}
<div class="container">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">
        {{ message }}
    </div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
<div class="container content">
    <div class="row">
        <div class="col s7">
            <img class="post-image" src="{{ post.screenshot_1.url }}" alt="post">
        </div>

        <div class="col s5">
            <h4 class="post-title">{{ post.name }}</h4>
            <div class="row votes">
                {% if post.gelt == 0 %}
                <div class="col s12 price">
                    {{post.price}} gelt
                </div>
                {% else %}
                <div class="col s12 price free">
                    FREE
                </div>
                {% endif %}
            </div>
            {% if post.user.is_active %}
            <a title="{{ post.user.display_name }}" class="post-author"
                href="{% url 'get-user-profile' username=post.user.username %}">
                {{ post.user.display_name }}
            </a>
            {% else %}
            <a class="post-author">
                [deleted]
            </a>
            {% endif %}
            <pre class="post-caption">{{ post.description|urlize|urlize_target_blank }}</pre>
        </div>
        <div class="col s5">
            <a href="{% url 'marketplace:buy-template' listing_id=post.object_id %}"
                class="btn btn-medium black white-text">Buy template</a>
        </div>

    </div>
</div>
{% endblock %}