{% extends 'base.html' %}
{% load humanize %}
{% load url_target_blank %}

{% block title %}Foxstraat - {{ user.username }}'s dashboard{% endblock %}

{% block styles %}
<style>
    .form-input {
        border: 2px solid #000 !important;
        width: 100% !important;
        border-radius: 3px !important;
        font-size: 1.5em !important;
        color: #000 !important;
        font-weight: 500;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        background-color: rgb(250, 250, 250) !important;
    }

    .form-input::placeholder {
        color: #000;
        font-weight: 500;
        opacity: 1;
    }

    .content-container {
        margin-top: 3%;
    }

    .image {
        margin-top: 3%;

    }

    .card {
        border: 1px solid #727272;
        border-radius: 3px;
    }

    .image_placeholder {
        height: 200px;
        width: 200px;
        background-color: rgb(212, 212, 212);
    }

    .sign-out {
        color: rgb(122, 122, 122);
    }

    .announcement-title {
        margin-bottom: 1rem !important;
        text-decoration: underline;
    }

    .announcement-body {
        font-weight: 400 !important;
    }

    .support {
        margin-bottom: 5%;
        color: rgb(63, 63, 63);
    }

    .profile-image {
        object-fit: cover;
        height: 270px;
    }
</style>
{% endblock %}

{% block body %}



{% include 'components/navbar.html' %}

{% if messages %}
<div class="container center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
<div class="container content-container">
    <div class="row">
        <div class="col s4">
            <!-- User details section -->
            <div class="card z-depth-0">
                <div class="card-image">
                    {% if user.profile_pic %}
                    <img class="profile-image" src="{{ user.profile_pic.url }}">
                    {% else %}
                    <div class="image_placeholder">No profile picture</div>
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title">{{ user.display_name }}</span>
                    <p>
                        joined: {{user.datetime_joined|naturaltime}} <br>
                        posts: 20 <br>
                        subscribers: {{user.subscribers|shrink_num}} <br>
                        following: 23
                    </p>
                </div>
                <div class="red card-action">
                    <a class="black-text" style="text-decoration: underline;"
                        href="{% url 'accounts:edit-user-profile' %}">Edit profile</a>
                </div>

            </div>
            <!-- user details section ends -->

            <!-- Create post section -->
            <div title="Add a post to gallery" class="card z-depth-0">
                <div class="blue card-action">
                    <a class="black-text" style="text-decoration: underline;"
                        href="{% url 'bulletin:create-bulletin' %}">Add a post to gallery</a>
                    </a>
                </div>
            </div>
            <!-- Create post section ends -->

            <!-- Site info section -->
            <div class="card z-depth-0">
                <div class="yellow  darken-1  card-content">
                    <p>
                        If you like using Foxstraat, please consider supporting its development.
                        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
                        <script
                            type='text/javascript'>kofiwidget2.init('Support Me', '#000000', 'Y8Y31URML'); kofiwidget2.draw();</script>

                    </p>
                </div>
            </div>
            <!-- site info section ends -->

            <!-- foxstraat announcements section -->
            <div class="card z-depth-0">
                <div class="green lighten-1 card-content">
                    <span class="card-title"><b>Announcements</b></span>
                    <p class="announcement-body">
                        <em class="announcement-title">COVID-19 Pandemic</em>
                        <br>
                        Stay safe, wash your hands, wear a mask, keep a distance to other people and stay home as often
                        as you can. Additionally, please follow your local Coronavirus rules and safety guidelines.
                    </p><br>
                    <p>
                        For more updates, follow
                        <a class="btn btn-small blue darken-2" target="_blank"
                            href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton">
                            Follow @KeloDraken
                        </a>
                    </p>
                </div>
            </div>
            <!-- foxstraat announcements section ends -->
            <div class="info">
                <a class="sign-out" href="{% url 'accounts:user-logout' %}">Sign out</a>
            </div>
        </div>
        <div class="col s8">
            <form method="get">
                {% csrf_token %}
                <input type="text" class="form-input" placeholder="Search users, forums, and bulletins" />
            </form>
        </div>
        <div class="col s8 red">
            <h4>Activity from your forums</h4>
        </div>
    </div>
</div>
{% endblock %}