{% extends 'base.html' %}

{% block title %}Foxstraat - {{ user.username }}'s dashboard{% endblock %}

{% block styles %}
<style>
    .form-input {
        margin-top: 7px !important;
        border: 2px solid #212121 !important;
        background-color: #212121 !important;
        padding: 5px 6px !important;
        font-size: 2em !important;
        font-weight: 500 !important;
        color: #fff !important;
        border-radius: 3px !important;
        width: 98% !important;
    }

    .form-input::placeholder {
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    .content-container {
        margin-top: 3%;
    }

    .image {
        margin-top: 3%;

    }

    .card {
        border: 1px solid #727272;
        border-radius: 3px;
    }

    .image_placeholder {
        height: 200px;
        width: 200px;
        background-color: rgb(212, 212, 212);
    }

    .sign-out {
        color: rgb(122, 122, 122);
    }

    .announcement-title {
        margin-bottom: 1rem !important;
        text-decoration: underline;
    }

    .announcement-body {
        font-weight: 400 !important;
    }

    .support {
        margin-bottom: 5%;
        color: rgb(63, 63, 63);
    }

    .profile-image {
        object-fit: cover;
        height: 270px;
    }
</style>
<style>
    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }
    .section-heading {
        text-transform: uppercase;
    }
    .about {
        border-top: 2px solid #212121;
        height: 40vh;
        padding-top: 2rem;
    }
    .footer-link {
        color: #000000;
        text-decoration: underline;
    }
    .text {
        font-size: 1.2em;
        color: #000000;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}

{% if messages %}
<div class="container center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
<div class="container content-container">
    <div class="row">
        <div class="col s4">
            <!-- User details section -->
            {% include 'components/dashboard/user_details.html' %}
            <!-- user details section ends -->

            <!-- Manage posts section -->
            {% include 'components/dashboard/manage_posts.html' %}
            <!-- Manage posts section ends -->

            <!-- Manage listings section -->
            {% include 'components/dashboard/manage_listings.html' %}
            <!-- Manage listings section ends -->

            <!-- Site info section -->
            {% include 'components/dashboard/site_info.html' %}
            <!-- site info section ends -->
            <div class="info">
                <a class="sign-out" href="{% url 'accounts:user-logout' %}">Sign out</a>
            </div>
        </div>
        <div class="col s8">
            <form method="get" action="{% url 'search:search' %}">
                <input class="form-input" autocapitalize="off" autocomplete="off" type="text" name="q"
                    placeholder="Search users" />
                <input type="hidden" name="ref" value="dash_search">
                {% csrf_token %}
            </form>
            <div class="row">
                <div class="col s6">
                    <!-- Create post section -->
                    {% include 'components/dashboard/create_post.html' %}
                    <!-- Create post section ends -->

                    <!-- foxstraat announcements section -->
                    {% include 'components/dashboard/announcements.html' %}
                    <!-- foxstraat announcements section ends -->
                </div>
                <div class="col s6">
                    {% include 'components/dashboard/add_song.html' %}
                    
                    {% if request.user.is_superuser %}
                    {% include 'components/dashboard/add_blog_post.html' %}
                    {% endif %}
                    
                    {% include 'components/dashboard/create_announcement.html' %}

                    <!-- Marketplace section -->
                    {% include 'components/dashboard/add_marketplace_listing.html' %}
                    <!-- Marketplace section ends -->

                    <!-- People section -->
                    {% include 'components/dashboard/recommended.html' %}
                    <!-- People section ends -->
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}