{% extends 'base.html' %}

{% block title %}Foxstraat - {{ user.username }}'s dashboard{% endblock %}

{% block styles %}
<style>
    .form-input {
        border: 2px solid #000 !important;
        width: 100% !important;
        border-radius: 3px !important;
        font-size: 1.5em !important;
        color: #000 !important;
        font-weight: 500;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        background-color: rgb(250, 250, 250) !important;
    }

    .form-input::placeholder {
        color: #000;
        font-weight: 500;
        opacity: 1;
    }

    .content-container {
        margin-top: 3%;
    }

    .image {
        margin-top: 3%;

    }

    .card {
        border: 1px solid #727272;
        border-radius: 3px;
    }

    .image_placeholder {
        height: 200px;
        width: 200px;
        background-color: rgb(212, 212, 212);
    }

    .sign-out {
        color: rgb(122, 122, 122);
    }

    .announcement-title {
        margin-bottom: 1rem !important;
        text-decoration: underline;
    }

    .announcement-body {
        font-weight: 400 !important;
    }

    .support {
        margin-bottom: 5%;
        color: rgb(63, 63, 63);
    }

    .profile-image {
        object-fit: cover;
        height: 270px;
    }
</style>
{% endblock %}

{% block body %}



{% include 'components/navbar.html' %}

{% if messages %}
<div class="container center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="red white-text">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="green white-text">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
<div class="container content-container">
    <div class="row">
        <div class="col s4">
            <!-- User details section -->
            {% include 'components/dashboard/user_details.html' %}
            <!-- user details section ends -->

            <!-- Create post section -->
            {% include 'components/dashboard/create_post.html' %}
            <!-- Create post section ends -->
            
            {% include 'components/dashboard/create_announcement.html' %}

            <!-- Site info section -->
            {% include 'components/dashboard/site_info.html' %}
            <!-- site info section ends -->

            <!-- foxstraat announcements section -->
            {% include 'components/dashboard/announcements.html' %}
            <!-- foxstraat announcements section ends -->
            <div class="info">
                <a class="sign-out" href="{% url 'accounts:user-logout' %}">Sign out</a>
            </div>
        </div>
        <div class="col s8">
            <form method="get" action="{% url 'search:search' %}">
                <input class="form-input" autocapitalize="off" autocomplete="off" type="text" name="q" placeholder="Search users" />
                {% csrf_token %}
            </form>
        </div>
        <div class="col s8 red">
            <h4>Activity from your forums</h4>
        </div>
    </div>
</div>
{% endblock %}