{% extends 'base.html' %}
{% load static %}

{% block title %}Foxstraat - Add song{% endblock %}

{% block styles %}
<style>
    .form-input {
        color: #000 !important;
        width: 83% !important;
        border: 1px solid #797979 !important;
    }

    .form-input::placeholder {
        color: rgb(112, 112, 112) !important;
        opacity: 1 !important;
    }
</style>
<style>
    .image-preview {
        border: 2px solid #ccc;
        height: 300px;
        width: 240px;
    }

    textarea {
        max-width: 100% !important;
        max-height: 60% !important;
        width: 1000px !important;
        height: 200px !important;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}

<div class="container center">
    <h3>Add song</h3>
    {% if messages %}
    <div class="container center">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="red white-text">{{ message }}</div>
        {% elif message.tags == 'success' %}
        <div class="green white-text">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <form id="post_form" method="post" action="{% url 'bulletin:create-bulletin' %}" enctype="multipart/form-data">
        <div class="row">
            <div class="col s7">
                {% csrf_token %}
                {% for hidden in post_form.hidden_fields %}
                {{ hidden }}
                {% endfor %}


                {% for field in post_form %}
                {{ field }} <br />
                {% endfor %}

                {{ formset.management_form }}
                {% for form in formset %}
                {{ form }}
                {% endfor %}

                <br>
                <br>
                {{ captcha }}
                <br>
                <input type="submit" name="submit" value="Submit" />
                <br>
                <br>
                <small class="left grey-text">
                    Before you submit your post you need to make sure that you've
                    read and understood the Rules. Failure to comply will result
                    in permanent banishment from Foxstraat.
                </small>
            </div>
            <div class="col s3">
                <img style="display: none;" id="input" />
                <img id="output" />
                <small class="left grey-text">
                    To save on storage costs, images are
                    compressed which will result in loss of
                    quality. This is an issue we're trying to resolve.
                    If you have some money to spare please consider supporting us.
                    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
                    <script
                        type='text/javascript'>kofiwidget2.init('Support Me', '#29abe0', 'Y8Y31URML'); kofiwidget2.draw();</script>
                </small>
            </div>
    </form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function processImage() {
        const selectedFile = document.querySelector('#selected-image').files[0];
        if (!selectedFile) return;

        const reader = new FileReader();
        reader.readAsDataURL(selectedFile);

        reader.onload = function (event) {
            const imageElement = document.createElement('img');
            imageElement.src = event.target.result;

            imageElement.onload = function (e) {
                const canvas = document.createElement('canvas');
                const MAX_WIDTH = 300;
                const scaleSize = MAX_WIDTH / e.target.width;

                canvas.width = MAX_WIDTH;
                canvas.height = e.target.height * scaleSize;
                console.log(e.target);
                const ctx = canvas.getContext('2d');
                ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

                const sourceEncoded = ctx.canvas.toDataURL(e.target, 'image/jpeg');

                document.querySelector('#output').src = sourceEncoded;
            }
        }
    }
</script>
{% endblock %}