{% extends 'base.html' %}
{% load humanize %}
{% load url_target_blank %}

{% block title %}{{post.user.display_name}} - {{ post.title }}{% endblock %}

{% block styles %}
<style>
    .content {
        margin-top: 2rem;
    }

    .post-caption {
        font-family: Arial, Helvetica, sans-serif;
        color: #333333;
        font-weight: 600;
        white-space: pre-wrap;
    }

    .caption-url {
        color: #333333;
        text-decoration: underline;
    }

    .post-image {
        width: 100%;
    }

    .price {
        margin-bottom: -1rem;
    }

    .post-author {
        font-size: 1.3em;
        color: #585858;
    }

    .section-images {
        object-fit: cover;
        width: 180px;
        height: 140px;
    }

    .post-title {
        font-weight: 600 !important;
        margin-bottom: 0;
    }

    .post-genre {
        margin-top: 0px !important;
    }

    .song-genre {
        font-size: 1.3em;
        color: #212121;
    }

    .section-heading {
        color: #3f3f3f;
        font-weight: 600;
        font-size: 1.5em;
    }

    .more {
        margin-top: 2rem !important;
    }

    .explicit {
        background-color: #333333;
        border-radius: 5px;
        padding: 3px;
        font-size: 0.7em;
        color: #e9e9e9;
    }

    .links {
        margin-top: 1rem;
    }
</style>
<style>
    .subheading {
        font-size: 2em !important;
        font-weight: 400;
        margin-top: -1em;
    }

    .section-heading {
        text-transform: uppercase;
    }

    .about {
        border-top: 2px solid #212121;
        height: 40vh;
        padding-top: 2rem;
    }

    .footer-link {
        color: #000000;
        text-decoration: underline;
    }

    .text {
        font-size: 1.2em;
        color: #000000;
    }
</style>
{% endblock %}
{% block body %}
{% include 'components/navbar.html' %}
<div class="container content">
    <div class="row">
        <div class="col s7">
            <img class="post-image" src="{{ post.image.url }}" alt="post">
            <small>Comments coming soon</small>
        </div>
        <div class="col s5">
            <h4 class="post-title">{{ post.title }}</h4>
            {% if post.user.is_active %}
            <a title="{{ post.user.display_name }}" class="post-author"
                href="{% url 'get-user-profile' username=post.user.username %}">
                {{ post.user.display_name }}
            </a>
            {% else %}
            <a class="post-author">
                [deleted]
            </a>
            {% endif %}

            <div class="vote">
                <button id="upvote"
                    data-upvote-url="{% url 'bulletin:cast-vote' bulletin_id=post.object_id %}?vote_value=1"
                    onclick="handleUpvote()"
                    class="btn-flat white {% if has_upvoted %}grey-text{% else %}black-text{% endif %} material-icons-outlined">
                    thumb_up
                </button>
                <button id="downvote" onclick="handleDownvote()"
                    data-downvote-url="{% url 'bulletin:cast-vote' bulletin_id=post.object_id %}?vote_value=-1"
                    class="btn-flat white {% if has_downvoted %}grey-text{% else %}black-text{% endif %} material-icons-outlined">
                    thumb_down
                </button>
            </div>

            <p class="post-genre">
                <span data-bulletin-score="{{upvotes}}" id="score" class="song-genre"></span>
                <!-- <span class="song-genre">{{upvotes|shrink_num}} upvote{{upvotes|pluralize}}</span> -->
            </p>
            <pre class="post-caption">{{post.caption}}</pre>
            <!-- More from user -->
            <div class="more">
                {% if more_from_user %}
                <h5 class="section-heading">
                    More from {{post.user.display_name}}
                </h5>
                {% endif %}
                <div class="row">
                    {% for i in more_from_user %}
                    {% if i.image %}
                    {% if not i.object_id == post.object_id %}
                    <a title="{{ i.title }}" href="{% url 'bulletin:get-bulletin' bulletin_id=i.object_id %}">
                        <div class="col s6">
                            <img class="section-images" src="{{ i.image.url }}" alt="bulletin cover art">
                        </div>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- More from user ends -->
        </div>
    </div>
</div>
{% include 'components/footer.html' %}
{% endblock %}

{% block scripts %}
<script>
    const handleUpvote = () => {
        const upvoteBtn = document.getElementById('upvote')
        const upvoteURL = upvoteBtn.dataset.upvoteUrl;

        var upvoteClasses = upvoteBtn.classList
        var downvoteClasses = upvoteBtn.classList

        fetch(upvoteURL).then(
            response => {
                if (response.status === 200) {
                    const bulletinScoreURL = upvoteBtn.dataset.scoreUrl;
                    if (upvoteClasses.contains('black-text')) {
                        upvoteClasses.remove('black-text')
                        upvoteClasses.add('grey-text')
                    } else if (upvoteClasses.contains('grey-text')) {
                        upvoteClasses.remove('grey-text')
                        upvoteClasses.add('black-text')
                    }
                } else {
                    return
                }
            }
        )
    }

    const handleDownvote = () => {
        const downvoteBtn = document.getElementById('downvote')
        const downvoteURL = downvoteBtn.dataset.downvoteUrl;
        fetch(downvoteURL).then(
            response => {
                if (response.status === 200) {
                    const bulletinScoreURL = downvoteBtn.dataset.scoreUrl;
                    if (downvoteBtn.classList.contains('black-text')) {
                        downvoteBtn.classList.remove('black-text')
                        downvoteBtn.classList.add('grey-text')
                        scoreElement.innerHTML = newScore.toString() + ' score'
                    } else if (downvoteBtn.classList.contains('grey-text')) {
                        downvoteBtn.classList.remove('grey-text')
                        downvoteBtn.classList.add('black-text')
                    }
                } else {
                    return
                }
            }
        )
    }
</script>
{% endblock %}