<style>
    .pagination {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>


<div class="pagination center">
    {% if page_obj.has_previous %}
    <a class="btn-flat blue-text white material-icons-outlined" href="?sida={{ page_obj.previous_page_number }}{% if page == 'search'%}&q={{ query }}{% endif %}">
        arrow_back_ios
    </a>
    {% else %}
    <span class="btn-flat grey-text white material-icons-outlined">
        arrow_back_ios
    </span>
    {% endif %}
    <span class="step-links">

        <span class="current">
            page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}
        </span>
    </span>

    {% if page_obj.has_next %}
    <a class="btn-flat blue-text white material-icons-outlined" href="?sida={{ page_obj.next_page_number }}{% if page == 'search'%}&q={{ query }}{% endif %}">
        arrow_forward_ios
    </a>
    {% else %}
    <span class="btn-flat grey-text white material-icons-outlined">
        arrow_forward_ios
    </span>
    {% endif %}
</div>