{% extends 'base.html' %}

{% block title %}Foxstraat - Explore{% endblock %}

{% block styles %}
<style>
    .placeholder-item {
        box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
        border-radius: 4px;
        height: 200px;
        position: relative;
        background-color: #ececec;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .placeholder-item::before {
        content: '';
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(to right, transparent 0%, #f3f3f3 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }

    @keyframes load {
        from {
            left: -150px;
        }

        to {
            left: 100%;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="w-full justify-center mx-auto px-44">
    <div class="infinite-container mx-auto px-60">
        <h1 class="text-3xl mt-10 mb-0 font-bold">Frontpage</h1>
        <h1 id="heading" class="text-lg mt-1 mb-5 font-bold">
            Your top recommended links
        </h1>
    </div>
    <div class="infinite-container mx-auto px-60">
        {% for post in page_obj|dictsortreversed:"score" %}
        <div class="grid-item my-5 infinite-item">
            <a title="{{ post.title }}" href="{% url 'posts:get-bulletin' bulletin_id=post.object_id %}">
                {% if post.image %}
                <img class="post-image" src="{{ post.image.url }}" alt="Post cover image" />
                {% elif post.cover_art %}
                <img class="post-image" src="{{ post.cover_art.url }}" alt="Post cover image" />
                {% endif %}
            </a>
        </div>
        {% endfor %}
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
    </div>
    {% include 'components/infinite_scroll_fetch.html' %}
    {% include 'components/footer.html' %}
</div>
{% endblock %}