{% load humanize %}
{% load url_target_blank %}

<style>
    .post-image {
        object-fit: cover;
        height: 17vw;
    }
</style>
<span class="card-title"><b>Recommended</b></span>
{% for post in posts %}
<div class="card z-depth-2">
    <div class="card-image">
        {% if post.image %}
        <img class="post-image" src="{{ post.image.url }}">
        {% else %}
        <div class="image_placeholder">No profile picture</div>
        {% endif %}
    </div>
    <p>aoaisndcak</p>
</div>
{% endfor %}
<a href="#" class="btn btn-flat white black-text">Explore More...</a>