{% load humanize %}
{% load url_target_blank %}

<div class="card z-depth-0">
    <div class="card-image">
        {% if user.profile_pic %}
        <img class="profile-image" src="{{ user.profile_pic.url }}">
        {% else %}
        <div class="image_placeholder">No profile picture</div>
        {% endif %}
    </div>
    <div class="card-content">
        <span class="card-title">{{ user.display_name }}</span>
        <p>
            joined: {{user.datetime_joined|naturaltime}} <br>
            gelt: {{user.gelt|shrink_num}} <br>
            posts: {{user.num_posts|shrink_num}} <br>
            subscribers: {{user.subscribers|shrink_num}} <br>
        </p>
    </div>
    <div class="red card-action">
        <a class="black-text" style="text-decoration: underline;"
            href="{% url 'accounts:edit-user-profile' %}">Edit profile</a>
    </div>

</div>