{% extends 'base.html' %}
{% block title %}Foxstraat - News{% endblock %}

{% block styles %}
<style>
    .content {
        margin-top: 3rem !important;
    }

    .date {
        font-size: 1.5em !important;
    }

    .news {
        font-family: Arial, Helvetica, sans-serif;
        color: #333333;
        font-weight: 600;
        white-space: pre-wrap;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<h3 class="center">{{heading}}</h3>
<div class="container content">
    {% for i in news %}
    <div class="center">

        <span class="date">{{ i.datetime_created|date:"d M Y" }}</span>
        <pre class="news center">{{ i.text }}</pre>
        <pre class="news center">{{ i.body|safe }}</pre>
    </div>
    {% endfor %}
</div>
{% endblock %}