{% load static %}
<h1 class="center">Edit profile</h1>
<form action="{% url 'accounts:edit-user-profile' %}" enctype="multipart/form-data" method="post">
    {% if messages %}
    <div class="container center">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="red white-text">{{ message }}</div>
        {% elif message.tags == 'success' %}
        <div class="green white-text">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endif %}


    {% csrf_token %}
    <!-- About me -->
    <div class="center">
        <h5 class="black-text">Upload new profile picture</h5>
        <br>
        <input type="file" accept="image/jpeg, image/png" placeholder="Upload new profile pic" name="profile_pic"
            id="profile_pic">
        <br>
        <br>
        <h5 class="black-text">Display name</h5>
        <input type="text" value="{% if user.display_name %}{{ user.display_name }}{% endif %}" class="form-input"
            name="display_name" id="display_name" placeholder="Display name" />
        <br>
        <h5 class="black-text">Social handles</h5>
        <input type="text" autocapitalize="off" autocomplete="off"
            value="{% if user.instagram %}{{ user.instagram }}{% endif %}" class="form-input" name="instagram"
            id="instagram" placeholder="Instagram" maxlength="60" />
        <!-- <label class="grey-text" for="instgram">Instagram handle</label> -->
        <br>
        <input type="text" autocapitalize="off" autocomplete="off"
            value="{% if user.twitter %}{{ user.twitter }}{% endif %}" class="form-input" name="twitter" id="twitter"
            placeholder="Twitter" maxlength="60" />
        <br>
        <input type="url" autocapitalize="off" autocomplete="off" class="form-input"
            value="{% if user.website %}{{ user.website }}{% endif %}" name="website" id="website" placeholder="Website"
            maxlength="60" />
        <br><br>
        <h5 class="black-text">About me</h5>
        <textarea maxlength="220" placeholder="Write something about yourself" name="about_me"
            id="about_me">{% if user.bio %}{{user.bio}}{% endif %}</textarea><br>
        <label for="about_me">220 character limit</label>
        <br>
    </div>
    <!-- about me ends -->
    <br>
    <div class="center">
        <button class="btn btn-large submit-btn waves-effect waves-light black" type="submit">Save changes</button>
    </div>
</form>