{% load url_target_blank %}

{% if request.user.is_authenticated %}
<div class="vote">
    <button id="upvote"
        data-upvote-url="{% if page == 'song' %}{% url 'music:cast-vote' song_id=post.object_id %}?vote_value=1{% else %}{% url 'bulletin:cast-vote' bulletin_id=post.object_id %}?vote_value=1{% endif %}"
        onclick="handleUpvote()"
        class="btn-flat white {% if has_upvoted %}grey-text{% else %}black-text{% endif %} material-icons-outlined">
        thumb_up
    </button>
    <span data-bulletin-score="{{upvotes}}" id="score" class="song-genre">{{upvotes}}</span>
    <button id="downvote" onclick="handleDownvote()"
        data-downvote-url="{% if page == 'song' %}{% url 'music:cast-vote' song_id=post.object_id %}?vote_value=-1{% else %}{% url 'bulletin:cast-vote' bulletin_id=post.object_id %}?vote_value=-1{% endif %}"
        class="btn-flat white {% if has_downvoted %}grey-text{% else %}black-text{% endif %} material-icons-outlined">
        thumb_down
    </button>
    <br>
</div>
{% else %}
<div class="vote">
    <a href="{% url 'accounts:user-register' %}"  class="btn-flat white black-text material-icons-outlined">
        thumb_up
    </a>
    <span data-bulletin-score="{{upvotes}}" id="score" class="song-genre">{{upvotes|shrink_num}}</span>
    <a href="{% url 'accounts:user-register' %}" class="btn-flat white black-text material-icons-outlined">
        thumb_down
    </a>
    <br>
</div>
{% endif %}