<section class="red about">
    <div class="container">
        <p class="text center section-heading">
            Brought to you by Kelo
        </p>
        <div class="row center">
            <div class="col s4">
                <p class="text">
                    <a class="footer-link" href="{% url 'rules' %}">Rules</a> <br>
                    <a class="footer-link" href="{% url 'terms' %}">Terms</a> <br>
                    <a class="footer-link" href="{% url 'privacy' %}">Privacy</a> <br>
                </p>
            </div>
            <div class="col s4">
                <p class="text">
                    <a class="footer-link" href="https://instagram.com/KeloDraken" rel="noopener noreferrer"
                        target="_blank">Instagram</a> <br>
                    <a class="footer-link" target="_blank"
                        href="https://twitter.com/intent/follow?screen_name=KeloDraken&tw_p=followbutton">
                        Twitter
                    </a>
                    <br>
                    <a class="footer-link" href="https://ko-fi.com/Y8Y31URML" rel="noopener noreferrer"
                        target="_blank">ko-fi</a> <br>
                </p>
            </div>
            <div class="col s4">
                <p class="text">
                    <a class="footer-link" href="{% url 'news' %}">News</a> <br>
                    <a class="footer-link" href="{% url 'blog:engineering' %}">Blog</a> <br>
                    <a class="footer-link" href="{% url 'about' %}#feedback_">Feedback</a> <br>
                </p>
            </div>
        </div>
        <small>&copy; 2021 Samkelo Rocks (Pty) Ltd. All rights reserved.</small>
    </div>
</section>