{% load static %}
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">

<style>
nav {
    border-bottom: 2px solid #212121;
}
</style>

<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo n-logo">Foxstraat.</a>
                <ul class="right">
                    <li title="{{ user.username }}'s dashboard">
                        <a href="{% url 'accounts:user-dashboard' %}">
                            <span class="material-icons-outlined">
                                dashboard
                            </span>
                        </a>
                    </li>
                    <li title="{{ user.username }}">
                        <a href="{% url 'get-user-profile' username=user.username %}">
                            <span class="material-icons-outlined">
                                account_circle
                            </span>
                        </a>
                    </li>
                    <li title="Browse">
                        <a href="#">
                            <span class="material-icons-outlined">
                                explore
                            </span>
                        </a>
                    </li>
                    <li title="Top charts">
                        <a href="#">
                            <span class="material-icons-outlined">
                                insert_chart_outlined
                            </span>
                        </a>
                    </li>
                    <li title="Forums">
                        <a href="{% url 'forums:get-forum' %}">
                            <span class="material-icons-outlined">
                                forum
                            </span>
                        </a>
                    </li>
                    <li title="About Foxstraat">
                        <a href="{% url 'about' %}">
                            <span class="material-icons-outlined">
                                info
                            </span>
                        </a>
                    </li>
                    <!-- <li title="Foxstraat Selekt">
                        <a href="#">
                            <span class="material-icons-outlined">
                                storefront
                            </span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>