{% load static %}
{% if request.user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
{% endif %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

    .n-logo {
        font-size: 2em !important;
        font-family: "Lobster", cursive;
        color: rgb(24, 24, 24) !important;
    }

    nav {
        border-bottom: 2px solid #212121;
    }

    .black-text:hover {
        background-color: transparent;
    }
</style>


{% if request.user.is_authenticated %}
<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo n-logo">Foxstraat.</a>
                <ul class="right">
                    <li title="Explore music">
                        <a href="{% url 'music:explore-music' %}">
                            <span class="material-icons-outlined">
                                library_music
                            </span>
                        </a>
                    </li>
                    <li title="Browse">
                        <a href="{% url 'bulletin:explore-bulletins' %}">
                            <span class="material-icons-outlined">
                                explore
                            </span>
                        </a>
                    </li>
                    <!-- <li title="Forums">
                        <a href="{% url 'forums:get-forum' %}">
                            <span class="material-icons-outlined">
                                forum
                            </span>
                        </a>
                    </li> -->
                    <li title="Foxstraat Selekt">
                        <a href="{% url 'marketplace:storefront' %}">
                            <span class="material-icons-outlined">
                                storefront
                            </span>
                        </a>
                    </li>
                    <li title="{{ user.username }}">
                        <a href="{% url 'get-user-profile' username=user.username %}">
                            <span class="material-icons-outlined">
                                account_circle
                            </span>
                        </a>
                    </li>
                    <li title="About Foxstraat">
                        <a href="{% url 'about' %}">
                            <span class="material-icons-outlined">
                                info
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% else %}
<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo n-logo">Foxstraat.</a>
                <ul class="right">
                    <li>
                        <a class="black-text" href="{% url 'music:explore-music' %}">
                            Charts
                        </a>
                    </li>
                    <li>
                        <a class="black-text" href="{% url 'bulletin:explore-bulletins' %}">
                            Explore
                        </a>
                    </li>
                    <li>
                        <a class="black-text" href="{% url 'blog:engineering' %}">
                            Blog
                        </a>
                    </li>
                    <li>
                        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
                        <script
                            type='text/javascript'>kofiwidget2.init('Support Me', '#29abe0', 'Y8Y31URML'); kofiwidget2.draw();</script>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endif %}