{% load url_target_blank %}

<div class="col s5">
    <h4 class="post-title">{{ post.title }}</h4>
    <div class="row votes">
        <div class="col s12 price">
            {{post.displayed_upvotes|shrink_num}} score
        </div>
    </div>
    {% if post.user.is_active %}
    <a title="{{ post.user.display_name }}" class="post-author"
        href="{% url 'get-user-profile' username=post.user.username %}">
        {{ post.user.display_name }}
    </a>
    {% else %}
    <a class="post-author">
        [deleted]
    </a>
    {% endif %}
    <pre class="post-caption">{{ post.caption|urlize|urlize_target_blank }}</pre>
</div>