{% load url_target_blank %}

<div class="col s5">
    <!-- <p class="blue-text trending">lsdfbvjk</p> -->
    <h4 class="post-title">{{ post.bulletin.title }}</h4>
    <div class="row votes">
        <div class="col s12">
            {{post.displayed_upvotes|shrink_num}} score
        </div>
    </div>
    <a title="{{ post.bulletin.user.display_name }}" class="post-author"
        href="{% url 'get-user-profile' username=post.bulletin.user.username %}">
        {{ post.bulletin.user.display_name }}
    </a>
    <pre class="post-caption">{{ post.bulletin.caption|urlize|urlize_target_blank }}</pre>
</div>