<div class="col s5">
    <!-- <p class="blue-text trending">lsdfbvjk</p> -->
    <h4 class="post-title">{{ post.bulletin.title }}</h4>
    <div class="row">
        <div class="col s6">
            3 506 votes
        </div>
        <div class="col s3">
            <span class="material-icons-outlined">
                thumb_up
            </span>
            3000
        </div>
        <div class="col s3">
            <span class="material-icons-outlined">
                thumb_down
            </span>
            506
        </div>
    </div>
    <a title="{{ post.bulletin.user.display_name }}" class="post-author"
        href="{% url 'get-user-profile' username=post.bulletin.user.username %}">
        {{ post.bulletin.user.display_name }}
    </a>
    <pre class="post-caption">{{ post.bulletin.caption }}</pre>
</div>